*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1400px;
    margin: 0 auto;
    background: #e6e6e6;
}
.btn{
    display: inline-block;
    padding:0.5em 1em;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.btn-primary{
    background-color:#0C71C3;
    color: white;
    border-color: #1661B1;
}
.btn-primary:hover{
    background-color: #368ed6;
    color: #bfbcbc;
}

.btn-warning{
    background-color: #ed0f31;
    color: #ffffff;
    border-color: #f66a6a;
}
.btn-warning:hover{
    background-color: #951616;
    color: #aaa4a4;
}
.btn-danger{
    background-color: #A31E31;
    color: #eae4e4;
    border-color: #a52b3c;
}
.btn-danger:hover{
    background-color: #681420;
    color: #eae4e4;
}

.align-center{
    display:block;
    margin:0.5em auto;
}
.vertical-center{
    display: block;
    margin: auto auto;
}
.login-card{
    width: 300px;
    margin: 150px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.card-white{
    background-color: #f8f9fa;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}
.form-control{
    box-sizing: border-box;
    outline:  none;
    transition: border-color 0.3s ease;
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form-control:focus{
    border-color: #9fd4ff;
}
.container{
    width: 95%;
    margin: 0 auto;
}
.menu-bar{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:15px;
    background-color: #d2002a;
    color: white;
}
.menu-item{
    position: relative;
    padding:0.8em;
}
.sub-menu{
    position:  absolute;
    display:  none;
    list-style: none;
    padding: 0.4em 0.8em;
    background-color: #c8c7c7;
    color:#000;
}
.sub-menu-item{
    padding:0.4em 0.8em;
    margin: 0;
}
nav ul li:hover > ul{
    display: block;
}
.sub-menu-item:hover{
    background-color: #a8a8a6;
    color: #100f0f;
}

.m-5{
    margin: 5px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.table-header{
    background-color: #951616;
    color: white;
}

.table-data{
    padding: 12px;
    text-align: left;
}
